{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always"
}
